
body {
    background: black;
}
h1 {
    text-align: center;
    padding: 30px;
}

.btn {
    text-decoration: none;
    padding: 20px;
}

a {
    color: rgb(255, 255, 255);
    
}

.jumbotron {
    background: rgb(5, 44, 56);
    color: aliceblue;
}

